@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Seth's Site";
}

<h1>Seth Egbert</h1>
<br />

<!--bring in an image of spending time with family to display-->
<img src="img/encinitas family photo(resize).jpg" />
<br /><br />

<p>
    I would love to gain a lot of practice in application development. There have been a couple times where I have had ideas for personal websites or applications that I would like to build
    , but don't end up doing it because I don't yet have the necessary tools in my programming arsenal. I think it is a lot of fun to build and be creative, and so the more variety I can have in
    my abilities, the more cool things I'll be able to do. I also hope to gain some proficiency in additional languages that will help me build my resume as I prepare for work.
</p>

<br />

<p>Top 3 jobs interested in after graduation:</p>
<ul>
    <li>1. Software Engineer</li>
    <li>2. Data Scientist</li>
    <li>3. NBA All-Star</li>
</ul>

